<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.iaminlearn.mapper.IAccountMapper">
    <!-- 目的：为dao接口方法提供sql语句配置 -->
    <select id="findAll" resultType="Account">
        <!-- 具体的sql -->
        select * from account
    </select>

    <insert id="saveAccount">
        insert into account (name,money) value(#{name},#{money})
    </insert>
</mapper>
